select {
  background-color: #303030; /* Change background to black */
  color: #ffffff; /* Keep text color white */
  /* Add other styling as needed */
}

/* Style for options */
select option {
  background-color: #303030; /* Black background for options */
  color: #ffffff; /* White text for options */
}

input {
  /* Add styles for input fields here */
  background-color: #494949; /* Dark gray background */
  color: rgb(218, 218, 218); /* Black text */
  /* Additional input styles */
}